{% extends "base.html" %}

{% block title %}CV - Jambonne Site{% endblock %}

{% block content %}
<div class="cv">
    <header class="cv-header">
        <h1>James Evers</h1>
        <p class="contact-info">
            james.evers.w@gmail.com | 978-476-2408
        </p>
    </header>

    <section class="cv-section">
        <h2>Work Experience</h2>

        <div class="company">
            <h3>Shopify, New York</h3>
            <div class="job">
                <h4>Senior Machine Learning Engineer <span class="dates">January 2024 - present</span></h4>
                <ul>
                    <li>Refactored and optimized search infrastructure to serve search rankings at p50 &lt; 10ms and p90 &lt; 16ms for 20 QPS.</li>
                    <li>Drove development of server and infrastructure deployment of Shopify's LLM agent, Sidekick.</li>
                    <li>Optimized embeddings models, allowing us to reduce compute cluster size by 50%, saving more than $20,000 per month.</li>
                </ul>
            </div>
        </div>

        <div class="company">
            <h3>JPMorgan Chase, New York</h3>
            <div class="job">
                <h4>Senior Machine Learning Engineer <span class="dates">September 2023 - December 2023</span></h4>
                <ul>
                    <li>Led design for the model architecture and infrastructure of a Retrieval Augmented Generation LLM to perform fact checking for financial compliance reports, decreasing human error and improving the efficiency of researchers.</li>
                    <li>Trained an XGBoost model to disambiguate financial compliance requirements for corporate clients being onboarded. Integrating this model with the application layer minimized the complexity and manual effort for new customers.</li>
                </ul>
            </div>
        </div>

        <div class="company">
            <h3>Blockchain.com, London</h3>
            <div class="job">
                <h4>Machine Learning Tech Lead <span class="dates">June 2022 - January 2023</span></h4>
                <ul>
                    <li>Led a team of developers in the implementation of a machine learning platform to automate the productionalization of predictive models, reducing data scientist experiment iteration time, increasing model stability, and paving the way for increased adoption of machine learning at the company.</li>
                    <li>Guided infrastructure design for the deployment of a machine learning model to improve fraud detection, resulting in a reduction of fraudulent payments significant enough to reduce reliance on third-party anti-fraud services.</li>
                </ul>
            </div>
            <div class="job">
                <h4>Senior Data Engineer <span class="dates">January 2022 - June 2022</span></h4>
                <ul>
                    <li>Designed and implemented a total refactor of the company data architecture, scaling up from a single Postgres instance to a Data Lake powered by BigQuery, Spark, and GCS, allowing engineers and analysts to access data previously too large to query.</li>
                    <li>Worked with financial analysts and accountants to build out a pricing reconciliation system, providing the company with mission-critical procedures for legal accounting.</li>
                </ul>
            </div>
        </div>

        <div class="company">
            <h3>Apple, Cupertino</h3>
            <div class="job">
                <h4>Data &amp; Machine Learning Engineer <span class="dates">September 2020 - December 2021</span></h4>
                <ul>
                    <li>Built training and deployment pipelines to support query extraction models, adding stability and enhanced experimentation scope.</li>
                    <li>Optimized model architectures in production; reduced the latency for a BERT information retrieval model from 150ms to &lt;50ms through model quantization and CUDA tuning.</li>
                    <li>Deployed and managed a custom Airflow deployment to launch Spark jobs, Hive queries, and other ELT pipelines, providing data scientists with clean, versioned datasets.</li>
                </ul>
            </div>
        </div>

        <div class="company">
            <h3>Condé Nast, New York</h3>
            <div class="job">
                <h4>SWE II (Machine Learning) <span class="dates">November 2019 – August 2020</span></h4>
                <ul>
                    <li>Owned a machine learning platform that supported hundreds of models serving batch recommendations.</li>
                    <li>Responsible for orchestrating distributed model training with Apache Spark on Databricks.</li>
                    <li>Acted as lead developer, maintainer, and owner of a distributed data lake in Apache Parquet and Databricks Delta used by downstream users in analytics and data science teams.</li>
                </ul>
            </div>
            <div class="job">
                <h4>Data Engineer <span class="dates">May 2017 – November 2019</span></h4>
                <ul>
                    <li>Developed ETL pipelines to service analytics and data science teams.</li>
                    <li>Optimized configuration settings on an AWS-hosted Presto cluster.</li>
                    <li>Built Spark jobs on AWS EMR to perform compute-intensive data tasks.</li>
                </ul>
            </div>
        </div>

        <div class="company">
            <h3>World Education Services, New York</h3>
            <div class="job">
                <h4>Data Analyst <span class="dates">January 2015 – March 2017</span></h4>
                <ul>
                    <li>Leveraged language and data analysis skills to build reports to guide marketing decisions for advanced education programs to recruit Chinese students.</li>
                    <li>Provided research expertise on the state of Sino-American educational exchange.</li>
                </ul>
            </div>
        </div>

        <div class="company">
            <h3>Teach for China, Yunnan</h3>
            <div class="job">
                <h4>Fellow <span class="dates">September 2012 - July 2014</span></h4>
                <ul>
                    <li>Partnered with Chinese nationals to lead initiatives in rural China to improve the education and public health of villages with high migrant worker populations.</li>
                    <li>Liaised with local officials to implement updated ESL techniques in public elementary schools.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="cv-section">
        <h2>Education</h2>
        <div class="education">
            <h3>Sarah Lawrence College</h3>
            <p class="degree">B.A.</p>
            <p class="details">Major: Philosophy, Minor: Chinese &amp; Russian Languages, GPA: 3.8</p>
            <p class="dates">September 2008 – May 2012</p>
        </div>
        <div class="education">
            <h3>Wadham College, University of Oxford</h3>
            <p class="degree">Exchange Scholar: Analytic Philosophy</p>
            <p class="details">First Class Honors</p>
            <p class="dates">September 2010 - June 2011</p>
        </div>
    </section>

    <section class="cv-section">
        <h2>Skills</h2>
        <p class="skills">Torch, HuggingFace, TensorRT, ONNX, Triton, Kafka, Apache Beam, Kubernetes, GCP, AWS, Terraform</p>
    </section>
</div>
{% endblock %}